body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-repeat: y-repeat;
  background-size:cover;
  background-color:ghostwhite;
}

.holder{
    background-color:#fff;
    width:90%;
    padding:50px 20px;
    border-radius:15px;
}
h1 {
  text-align: center;
  margin-bottom: 40px;
}

form {
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: lightblue;
}
.tops{
    margin-top:20%;
}
.tops p{
    color:#000;
    font-weight:bold;
}
.product{
border-radius:20px;
    width:300px;
}
